

@media (max-width: 768px) {
    .footer {
        padding: 15px;
        font-size: 14px;   
    }
    .cards {
        grid-template-columns: 1fr;
    }
    h1{
        font-size: 32px;
    }
    .subcribe{
        font-size: 14px;
    }
   
}
