.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
a{
    font-family:'Times New Roman', Times, serif;
    color:#76A7F8;
    text-decoration: underline;
    text-underline-offset: 0.25em;
}
a:hover {
    color: #3781F6;        
    text-decoration: underline; 
}
p{
    font-family:'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    display: inline;
    font-size: 40px;
}

.footer {
    background-color: #F9F9F9; 
    color: #000;         
    padding: calc(2%);         
    text-align: center;    
    font-size: 16px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10px;
}
.subcribe{
color:#A5A9AE;
font-size: 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    gap:20px

}